<article>
  <header>
    <h1>Give Us Some Details</h1>
  </header>
  <section class="flex-container">
    <div class="box flex-1">
      <%= form_for @reservation, url: {action: "create"}, method: :post do |f| %>
      <div class="details-flex-container">
        <div class="box details-flex-1">
          <%= f.label :date_and_time %>
          <%= datetime_local_field(:reservation_date, :reservation_time) %>
        </div>
        <div class="box details-flex-2">
          <%= f.label :number_of_guests %>
          <output for=fader id=guests>0</output>
          <%= f.range_field :num_guests, :in => 0..70, :step => 1, list: "volumeslider" %>
        </div>
        <div class="box details-flex-3">
          <%= f.label :number_of_tables %>
          <output for=fader id=tables>0</output>
          <%= f.range_field :num_tables, :in => 0..20, :step => 1, list: "volumeslider" %>
        </div>
        <div class="box details-flex-4">
          <%= f.label :number_of_chairs %>
          <output for=fader id=tables>0</output>
          <%= f.range_field :num_chairs, :in => 0..50, :step => 1, list: "volumeslider" %>
        </div>
        <div class="box details-flex-5">
          <%= f.label :number_of_adapters %>
          <output for=fader id=tables>0</output>
          <%= f.range_field :num_adapters, :in => 0..5, :step => 1, list: "volumeslider" %>
        </div>
        <div class="box details-flex-6">
          <%= f.label :number_of_whiteboards %>
          <output for=fader id=tables>0</output>
          <%= f.range_field :num_whiteboards, :in => 0..3, :step => 1, list: "volumeslider" %>
        </div>
        <div class="box details-flex-7">
          <%= select(:reservation, :has_alcohol, [['No, we will not be serving alcohol.', false], ['Yes, I agree to only provide alcohol to guests over 21 years of age.', true]]) %>
        </div>
        <div class="box details-flex-8">
          <%= f.submit "Reserve" %>
        </div>
      </div>
    </div>
    <div cass=" flex-2">
      <h2>List of Rooms:</h2>
      <div class="rooms-flex-1">
        <div class= flex-pict-1">
          <%= image_tag "classrm_1.png", alt: "Photo of room 1" %>
        </div>
        <div class= flex-list-1">
          <ul>
            <li>50 guests</li>
            <li>10 tables</li>
            <li>3 adapters</li>
            <li>1 whiteboard</li>
          </ul>
        </div>
      </div>
      <div class="rooms-flex-2">
        <div class= flex-pict-2">
          <%= image_tag "classrm_2.png", alt: "Photo of room 2" %>
        </div>
        <div class= flex-list-2">
          <ul>
            <li>50 guests</li>
            <li>10 tables</li>
            <li>3 adapters</li>
            <li>1 whiteboard</li>
          </ul>
        </div>
      </div>
      <div class="rooms-flex-3">
        <div class= flex-pict-3">
          <%= image_tag "classrm_3.png", alt: "Photo of room 3" %>
        </div>
        <div class= flex-list-3">
          <ul>
            <li>50 guests</li>
            <li>10 tables</li>
            <li>3 adapters</li>
            <li>1 whiteboard</li>
          </ul>
        </div>
      </div>
      <!-- <div class="rooms-flex-4">
        <div class= flex-pict-4">
          <%= image_tag "classrm_4.png", alt: "Photo of room 4" %>
        </div>
        <div class= flex-list-4">
          <ul>
            <li>50 guests</li>
            <li>10 tables</li>
            <li>3 adapters</li>
            <li>1 whiteboard</li>
          </ul>
        </div>
      </div>
      <div class="rooms-flex-5">
        <div class= flex-pict-5">
          <%= image_tag "classrm_5.png", alt: "Photo of room 5" %>
        </div>
        <div class= flex-list-5">
          <ul>
            <li>50 guests</li>
            <li>10 tables</li>
            <li>3 adapters</li>
            <li>1 whiteboard</li>
          </ul>
        </div>
      </div>
      <div class="rooms-flex-6">
        <div class= flex-pict-6">
          <%= image_tag "classrm_6.png", alt: "Photo of room 6" %>
        </div>
        <div class= flex-list-6">
          <ul>
            <li>50 guests</li>
            <li>10 tables</li>
            <li>3 adapters</li>
            <li>1 whiteboard</li>
          </ul>
        </div>
      </div> -->
    </div>
  </section>
  <footer>
    <%= image_tag "GA_Map.png", alt: "Photo of GA", width: "960" %>
    <% end %>
  </footer>
</article>
<script>
function ticks(element) {
  if (element.hasOwnProperty('list') && element.hasOwnProperty('min') && element.hasOwnProperty('max') && element.hasOwnProperty('step')) {
    var datalist = document.createElement('datalist'),
    minimum = parseInt(element.getAttribute('min')),
    step = parseInt(element.getAttribute('step')),
    maximum = parseInt(element.getAttribute('max'));
    datalist.id = element.getAttribute('list');
    for (var i = minimum; i < maximum+step; i = i + step) {
      datalist.innerHTML +="<option value="+i+"></option>";
    }
    element.parentNode.insertBefore(datalist, element.nextSibling);
  } }
  var lists = document.querySelectorAll("input[type=range][list]"),
  arr = Array.prototype.slice.call(lists);
  arr.forEach(ticks);
</script>
