<article>
  <header>
    <h1>Give Us Some Details</h1>
  </header>
  <section class="flex-container">
    <div class="box flex-1">
      <%= form_for @reservation, url: {action: "confirm"}, method: :get do |f| %>
      <div class="details-flex-container">
        <div class="box details-flex-1">
          <%= f.label :date_and_time %>
          <%= datetime_local_field(:reservation_time, :reservation_date) %>
        </div>
        <div class="box details-flex-2">
          <%= f.label :number_of_guests %>
          <output for=fader id=guests>50</output>
          <%= f.range_field :num_guests, :in => 0..100, :step => 1, oninput: "outputUpdate(value)" %>
          <%#= f.label :number_of_guests %>
          <%#= f.range_field :num_guests %>
        </div>
        <div class="box details-flex-3">
          <%= f.label :number_of_tables %>
          <output for=fader id=tables>50</output>
          <%= f.range_field :num_tables, :in => 0..20, :step => 1, oninput: "outputUpdate(value)"   %>
          <%#= f.label :number_of_tables %>
          <%#= f.text_field :num_tables %>
        </div>
        <div class="box details-flex-4">
          <%= f.label :number_of_chairs %>
          <%= f.range_field :num_chairs, :in => 0..50, :step => 1 %>
          <%#= f.label :number_of_chairs %>
          <%#= f.text_field :num_chairs %>
        </div>
        <div class="box details-flex-5">
          <%= f.label :number_of_adapters %>
          <%= f.range_field :num_adapters, :in => 0..5, :step => 1 %>
          <%#= f.label :number_of_adapters %>
          <%#= f.text_field :num_adapters %>
        </div>
        <div class="box details-flex-6">
          <%= f.label :number_of_whiteboards %>
          <%= f.range_field :num_whiteboards, :in => 0..3, :step => 1 %>
          <%#= f.label :number_of_whiteboards %>
          <%#= f.text_field :num_whiteboards %>
        </div>
        <div class="box details-flex-7">
          <%= select(:reservation, :has_alcohol, [['Yes, I agree to not serve alcohol to guests under 21 years of age.', true], ['No, we will not be serving alcohol.', false]]) %>
        </div>
        <div class="box details-flex-8">
          <%= f.submit "Reserve" %>
        </div>
      </div>
    </div>
    <div class="box flex-2">
      <h2>List of Rooms:</h2>
      <h3>Room 1</h3>
      <h3>Room 2</h3>
      <h3>Room 3</h3>
    </div>
  </section>
  <footer>
    <%= image_tag "GA_Map.png", alt: "Photo of GA", width: "960" %>
    <% end %>
  </footer>
</article>
