<!DOCTYPE html>
<html>
<head>
  <title>ReserveGa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<%= image_tag "ga_menu.png", alt: "menu", width: "1450" %>
<%= yield %>
<script>
  $(document).ready(function(){
    $("input[type=range]").on("input", function(){
      var output = $(this).prev("output"),
          value = $(this).val();
      output.text(value);
    })
  })
</script>
</body>
</html>
